<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" th:text="#{Home}"><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/achievement" th:text="#{Achievement}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rank" th:text="#{Rank}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/activities" th:text="#{Activities}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/topRecords" th:text="#{TopRecords}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutProgram" th:text="#{aboutProgram}"></a>
                </li>
            </ul>
            <form id="langForm" action="" method="get">
                <a href="?lang=pl"> <img src="/images/poland.png" width="30" height="20" title="PL"> </a>
                <a href="?lang=pl">PL</a> |
                <a href="?lang=en"> <img src="/images/united-kingdom.png" width="30" height="20" title="EN"> </a>
                <a href="?lang=en">EN</a>
            </form>
            <form class="form-inline my-2 my-lg-0" >
                <a class="btn btn-outline-success my-2 my-sm-0" style="margin:10px;" href="/logout" type="submit"  th:text="#{logout}"></a>
            </form>
        </div>
    </nav>
</div>
</body>
</html>
