<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Gainful Achivement System</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>
<div th:insert="fragments/menu"></div>
<div class="container">
    <div class="jumbotron">
        <h3 th:text='#{greeting}'></h3>
        <p th:text="${#dates.format(datetime, 'dd MMM yyyy HH:mm')}"></p>


        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" th:text="#{userInfo}"></h4>
                    <img th:src="${user_img}" width="100" height="100" class="figure-img" alt="">
                    <br>
                    <b class="card-text" th:text="${username}"></b>
                    <br>
                    <b class="card-text" th:text="#{points} + ${': ' + user_points}"></b>
                    <br>
                    <b class="card-text" th:text="${rank_name}"> </b>
                    <img th:src="@{/images/ranks/{image}(image=${rank_img})}" width="90" height="130" class="figure-img" alt="">
                    <p class="card-text"><small class="text-muted" th:text='#{lastUpdated}'></small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="#{lastAchievement}"></h5>
                    <p class="card-text">?????????????????????????????????</p>
                    <p class="card-text"><small class="text-muted" th:text="#{lastUpdated}"> 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <br>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title" th:text="#{LastActivities}"></h5>
                <table class="table table-hover">

                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" th:text="#{Activities}"></th>
                        <th scope="col" th:text="#{Distance}"></th>
                        <th scope="col" th:text="#{Calories}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Run</td>
                        <td>1800m</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Bike</td>
                        <td>8800m</td>
                        <td>330</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Walk</td>
                        <td>600m</td>
                        <td>40</td>
                    </tr>
                    </tbody>
                </table>
                <p class="card-text"><small class="text-muted" th:text="#{lastUpdated}"> 3 min ago</small></p>
            </div>
        </div>

    </div>
</div> <!-- /container -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>
</html>